<div class="error_div text-center ">
	{% if error %}
	<div class="toast align-items-center text-white bg-danger border-0 show position-fixed bottom-0 end-0 m-4"
		role="alert" aria-live="assertive" aria-atomic="true" id="ToastAlert">
		<div class="d-flex">
			<div class="toast-body">
				{{ error }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
				aria-label="Close"></button>
		</div>
	</div>
	{% elif success%}
	<div class="toast align-items-center text-white bg-success border-0 show position-fixed bottom-0 end-0 m-4"
		role="alert" aria-live="assertive" aria-atomic="true" id="ToastAlert">
		<div class="d-flex">
			<div class="toast-body">
				{{ success }}
			</div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
				aria-label="Close"></button>
		</div>
	</div>
	{% endif %}
</div> 
 
 <!-- Footer -->
 <footer class="footer section-padding mt-5 ">	
    <!-- Footer Top -->	
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <img src="https://garibook.com/dashboard/new-ui/assets/image/icon/footer_logo.png" alt="" width="250px">
                                <h5 class="footer-title mt-4">About Garibook</h5>
                                <p class="text-white">Garibook is a car rental platform from NRB Solutions Limited a concern of Link3 Technologies Limited. Garibook started its journey since 2021. Garibook is designed to serve passengers from the airport to any destination. Garibook’s vision is to become a global platform and already offers services in the United Kingdom, United Arab Emirates, Malaysia, and Thailand.</p>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-contact footer-widget">
                        <h5 class="footer-title">Contact Info</h5>
                        <div class="footer-contact-info">									
                            <div class="footer-address">											
                                <span><i class="fa-solid fa-phone"></i></span>
                                <div class="addr-info">
                                    <a href="#">+ 880 1810 198969</a>
                                </div>
                            </div>
                            <div class="footer-address">
                                <span><i class="fa-solid fa-envelope"></i></span>
                                <div class="addr-info">
                                    <a href="#">help@garibook.com</a>
                                </div>
                            </div>
                        </div>								
                        <div class="footer-social-widget">
                            <h6>Connect with us</h6>
                            <ul class="nav-social p-0 d-flex gap-3">
                                <li>
                                    <a href="#" target="_blank"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-behance fi-icon"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter fi-icon"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin fi-icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom py-3">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p class="m-0 text-white">© 2023 Garibook.col. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Copyright Menu -->
                        <div class="copyright-menu text-end">
                            <div class="vistors-details text-end">
                               <img src="https://garibook.com/dashboard/new-ui/assets/image/icon/payment-method.png" alt="" width="200">									   								
                            </div>
                        </div>
                        <!-- /Copyright Menu -->
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->			
</footer>
<!-- /Footer -->


    <script src="https://kit.fontawesome.com/684aa5e6c3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('assets', path='js/main.js') }}"></script>

</body>
</html>