<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Garibook.com</title>
    <link rel="stylesheet" href="{{ url_for('assets', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='css/responsive.css') }}">
    <!-- bootstrap   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- font-family: 'Raleway', sans-serif; -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

</head>
<body>

<header class="header-wrapper">
    <div class="container">
        <div class="col-md-12">
            <nav class="navbar">
                <div class="container-fluid">
                    {% if user %}
                        <div>
                            {% if user.user_type == 1 %}
                                <a class="navbar-brand m-0" href="/customer">
                                    <img src="https://garibook.com/dashboard/new-ui/assets/image/icon/logo.png" alt="Logo" width="200" class="d-inline-block align-text-top">
                                </a>
                            {% elif user.user_type == 2 %}
                                <a class="navbar-brand m-0" href="/driver">
                                    <img src="https://garibook.com/dashboard/new-ui/assets/image/icon/logo.png" alt="Logo" width="200" class="d-inline-block align-text-top">
                                </a>
                            {% endif %}
                        </div>
                    {% else %}
                        <a class="navbar-brand m-0" href="/">
                            <img src="https://garibook.com/dashboard/new-ui/assets/image/icon/logo.png" alt="Logo" width="200" class="d-inline-block align-text-top">
                        </a>
                    {% endif %}
                    <div class="d-flex" >

                        {% if user %}
                        <div class="dropdown user-dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="user-image" src="{{ url_for('assets', path='/upload/profile/' + user.image) }}">
                            </a>

                            <ul class="dropdown-menu  dropdown-menu-end fade">
                                <li>
                                    {% if user.user_type ==1 %}
                                         <a class="dropdown-item" href="/customer">Dashboard</a>
                                         <a class="dropdown-item" href="/trip/accept">My Trip</a>

                                    {% elif user.user_type ==2 %}
                                        <a class="dropdown-item" href="/driver">Dashboard</a>

                                    {% endif %}
                                </li>
                                <li>
                                    <form id="logoutForm" action="/logout" method="post" style="display:none;">
                                        <input type="hidden" name="_method" value="POST">
                                    </form>
                                    <a href="#" class="dropdown-item" onclick="document.getElementById('logoutForm').submit();"><b>Logout</b></a></a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="auth-header-wrap d-flex gap-2">
                            <button
                                type="button"
                                class="btn-theme-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#loginModal"
                            >Sign In</button>
                            <button
                                type="button"
                                class="btn-theme-secondary"
                                data-bs-toggle="modal"
                                data-bs-target="#registerModal"
                            >Register</button>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>




<!-- login Modal -->
<div class="modal fade theme-tab-model" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
               <nav class="auth-tab-header w-100">
                  <div class="nav nav-tabs w-100 bg-light"  role="tablist">
                    <button class="nav-link driver active w-50 py-3" id="nav-driverLogin-tab" data-bs-toggle="tab" data-bs-target="#nav-driverLogin" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Driver Sign in</button>
                    <button class="nav-link customer w-50 py-3" id="nav-customerLogin-tab" data-bs-toggle="tab" data-bs-target="#nav-customerLogin" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Customer Sign in</button>
                  </div>
                </nav>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="login-form-wrapper">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-driverLogin" role="tabpanel" aria-labelledby="nav-driverLogin-tab" tabindex="0">
                            <form method="POST" action="/driver-login" id="driverLoginForm">
                                <div class="mb-3">
                                  <label for="usermail" class="form-label">Email address</label>
                                  <input type="email" class="form-control" name="email" id="usermail" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                  <label for="userPassword" class="form-label">Password</label>
                                  <input type="password" class="form-control" name="password" id="userPassword">
                                </div>
                                <button type="submit" class="btn-theme-primary w-100" >Login</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-customerLogin" role="tabpanel" aria-labelledby="nav-customerLogin-tab" tabindex="0">
                            <form method="post" action="/customer-login" id="customerLoginForm">
                                <div class="mb-3">
                                  <label for="usermail" class="form-label">Email address</label>
                                  <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                  <label for="userPassword" class="form-label">Password</label>
                                  <input type="password" class="form-control" name="password" id="userPassword">
                                </div>
                                <button type="submit" class="btn-theme-secondary w-100">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal fade theme-tab-model" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
               <nav class="auth-tab-header w-100">
                  <div class="nav nav-tabs w-100" role="tablist">
                    <button class="nav-link driver active w-50 py-3" id="nav-driverResister-tab" data-bs-toggle="tab" data-bs-target="#nav-driverResister" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Driver Register</button>
                    <button class="nav-link customer w-50 py-3" id="nav-customerResister-tab" data-bs-toggle="tab" data-bs-target="#nav-customerResister" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Customer Register</button>
                  </div>
                </nav>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="error_div  mt-3">
                    {% if error_customer %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_customer }}
                    </div>
                    {% elif success_customer %}
                    <div class="alert alert-success" role="alert">
                        {{ success_customer }}
                    </div>
                    {% endif %}
                </div>
                <div class="register-form-wrapper">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-driverResister" role="tabpanel" aria-labelledby="nav-driverResister-tab" tabindex="0">
                            <form action="/driver/register/submit" method="post" enctype="multipart/form-data">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Driver Name ... ">
                                    <label for="name">Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                                    <label for="name">Email Address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="*********">
                                    <label for="password">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="*********">
                                    <label for="confirm_password">Confirm Password</label>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="file" class="form-control" name="image" id="image" >
                                </div>
                                <input type="submit" class="btn btn-primary" value="Driver Register">
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-customerResister" role="tabpanel" aria-labelledby="nav-customerResister-tab" tabindex="0">
                            <form action="/customer/register/submit" method="post" enctype="multipart/form-data">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Driver Name ... ">
                                    <label for="name">Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                                    <label for="name">Email Address</label>
                                </div>
                              <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="*********">
                                    <label for="password">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="*********">
                                    <label for="confirm_password">Confirm Password</label>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="file" class="form-control" name="image" id="image" placeholder="name@example.com">
                                </div>
                                <input type="submit" class="btn btn-success" value="Customer Register">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

