header{
    height: auto;
    background: #fff;
    box-shadow: 3px 8px 11px -11px #000;
    width: 100%;
}
.dropdown.user-dropdown img.user-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
