<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Trip || Garibook.com</title>
    <link rel="stylesheet" href="./../../assets/css/style.css">
    <!-- bootstrap   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <header class="header-wrapper">
        <div class="container">
            <div class="col-md-12">
                <nav class="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand w-100 text-center m-0" href="/">
                            <img src="https://garibook.com/dashboard/new-ui/assets/image/icon/logo.png" alt="Logo"
                                width="200" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="main-wrapper mt-5">

        <div class="page-title-wrapper  ">
            <div class="container">
                <div class="row bg-body-tertiary">
                    <div class="col-md-12">
                        <nav class="navbar">
                            <div class="container-fluid text-center">
                                <a class="navbar-brand " href="#">
                                    Trip Details
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-12">
                        <div class="trip-basic-information">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><b>Car Name: </b> {{trips.car_name}}</td>
                                        <td>
                                            <b>Pick up location: </b>
                                            <span id="formattedDate"></span>
                                        </td>
                                        <script>
                                            var date = new Date('{{trips.created_at}}');
                                            var formattedDate = date.toLocaleString();
                                            document.getElementById("formattedDate").textContent = formattedDate;
                                        </script>
                                    </tr>
                                    <tr>
                                        <td><b>Pick up location: </b> {{trips.pick_up_location}}</td>
                                        <td><b>location: </b> {{trips.location}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="chat-wrapper mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <div class="card mb-4">
                            <div class="card-header text-center">
                                <span>Trip Bid</span>
                            </div>
                            <div class="card-body chat-care">
                                <ul class="chat">

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <footer class=" bottom-0 bg-primary w-100 py-4 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-content text-white">
                        <span>© Copyright @ 2023 garibook.com All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>






    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <script>
        const socket = io('ws://localhost:8000/', { transports: ["websocket"] });
        socket.on("BidList{{trips.id}}", function (data) {
            console.log(data);
            var chatList = $('.chat');
            chatList.empty();
            BidGet();

        });
        BidGet();
        function displayBidInfo(bid, user) {
            var chatList = $('.chat');

            // var agentLi;
            // var imgSpan;
            // if (bid.driver_id == user.id) {
            //     agentLi = $('<li>').addClass('agent clearfix').addClass('user-' + user.id);
            //     var imgSpan = $('<span>').addClass('chat-img left clearfix mx-2');
            // } else {
            //     agentLi = $('<li>').addClass('admin clearfix').addClass('admin-' + user.id);
            //     var imgSpan = $('<span>').addClass('chat-img right clearfix mx-2');

            // }

            agentLi = $('<li>').addClass('agent clearfix').addClass('user-' + user.id);
            var imgSpan = $('<span>').addClass('chat-img left clearfix mx-2');
            imgSpan.html('<img src="../../assets/upload/profile/' + bid.driver.image + '" alt="Agent" class="img-circle" />');

            var bodyDiv = $('<div>').addClass('chat-body clearfix');

            var headerDiv = $('<div>').addClass('header clearfix');
            var strongName = $('<strong>').addClass('primary-font').text(bid.driver.name);
            var date = new Date(bid.created_at);
            var formattedDate = timeAgo(date);
            var smallTime
            if (bid.driver_id == user.id) {
                var smallTime = $('<small>').addClass('right text-muted').html('<span class="glyphicon glyphicon-time"></span>' + formattedDate);
            } else {
                var smallTime = $('<small>').addClass('left text-muted').html('<span class="glyphicon glyphicon-time"></span>' + formattedDate);
            }
            var pElement = $('<p>').text('Amount: ' + bid.amount);
            if (bid.trip.fare == null) {
                var acceptLink = $('<a>').addClass('btn btn-success').attr('href', '/bid/accept/' + bid.id).text('Accept');
                var acceptButton = $('<button>').addClass('btn btn-sm btn-success accept-btn').text('Accept');
                acceptButton.click(function (event) {
                    event.preventDefault();
                    window.location.href = acceptLink.attr('href');
                });
            }


            headerDiv.append(strongName);
            headerDiv.append(smallTime);

            bodyDiv.append(headerDiv);
            bodyDiv.append(pElement);

            agentLi.append(imgSpan);
            agentLi.append(bodyDiv);
            bodyDiv.append(acceptButton);

            chatList.append(agentLi);
        }
        function BidGet() {
            $.ajax({
                url: '/bid/get/{{trips.id}}',
                method: 'GET',
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.bids.length; i++) {
                        displayBidInfo(data.bids[i], data.user);
                    }
                }
            });
        }
        function timeAgo(date) {
            var now = new Date();
            var diff = Math.abs(now - date);
            var minutes = Math.floor((diff / 1000) / 60);

            if (minutes < 60) {
                return minutes + ' minute' + (minutes !== 1 ? 's' : '') + ' ago';
            } else {
                var hours = Math.floor(minutes / 60);
                return hours + ' hour' + (hours !== 1 ? 's' : '') + ' ago';
            }
        }

    </script>
</body>

</html>