{% include 'layouts/header.html' %}

    <div class="main-wrapper mt-5">

        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar bg-body-tertiary">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#">
                                    Request Trip List
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="trip-filter-wrapper mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/trip/store" method="post">
                            <div class="trip-f-wrap card bg-body-tertiary p-3 p-sm-5">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-12">
                                        <div class="form-floating ">
                                            <input required type="text" class="form-control" name="pick_up_location"
                                                id="pickPoint" placeholder="Pick Up Location">

                                            <label for="pickPoint">Pick Up Location</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-12">
                                        <div class="form-floating ">
                                            <select required class="form-select" name="car_name" id="carType">
                                                <option selected>Choose a Car Type</option>
                                                <option value="Sedan">Sedan</option>
                                                <option value="Noah">Noah</option>
                                                <option value="Hiace">Hiace</option>
                                            </select>
                                            <label for="carType">Car Type</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-12">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" name="location"
                                                id="destinationPoint" placeholder="Destination">
                                            <label for="destinationPoint">Destination </label>
                                        </div>

                                    </div>
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="filter-btn-wrap mt-3">
                                            <button type="submit" class="btn btn-info text-white w-100">Choose A
                                                ride</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="request-trip-list-wrapper mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table id="example" class="display nowrap table" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Car Name</th>
                                    <th scope="col">Pickup location </th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Booking Time</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="MyTripListShow">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        MyTripGet();

        function MyTripGet() {
            $.ajax({
                url: '/customer/trips/get',
                method: 'GET',
                success: function (data) {
                    console.log(data);
                    $('#MyTripListShow').empty(); // Clear old data
                    if (data.length === 0) {
                        $('#MyTripListShow').html('<tr><td colspan="5">No trips found</td></tr>');
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            var row = $('<tr>');
                            var date = new Date(data[i].created_at);
                            var formattedDate = date.toLocaleString();
                            var index = i + 1; // Incrementing index
                            row.append('<th scope="row">' + index + '</th>');
                            row.append('<td>' + data[i].car_name + '</td>');
                            row.append('<td><p class="text-success m-0">' + data[i].pick_up_location + '</p></td>');
                            row.append('<td><p class="text-success m-0">' + data[i].location + '</p></td>');
                            row.append('<td><p class="text-success m-0">' + formattedDate + '</p></td>');
                            row.append('<td><a href="/show/bid/' + data[i].id + '" class="btn btn-info text-white">Show Bid</a></td>');
                            $('#MyTripListShow').append(row);
                        }
                    }
                    $('#example').DataTable({
                        dom: 'Bfrtip',
                        "order": [[0, "asc"]]
                    });
                }
            });
        }
    </script>


    {% include 'layouts/footer.html' %}


    
