{% include 'layouts/header.html' %}

<div class="main-wrapper">

    <!-- Breadscrumb Section -->
    <div class="breadcrumb-bar">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title">Trip Details</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Show Bid</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadscrumb Section -->

    <div class="page-title-wrapper mt-5">
        <div class="container">
            <div class="row bg-body-tertiary">
                <div class="col-md-12">
                    <div class="trip-basic-information table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><b>Car Name: </b> {{trips.car_name}}</td>
                                    <td>
                                        <b>Booking Date: </b>
                                        <span id="formattedDate"></span>
                                    </td>
                                    <script>
                                        var date = new Date('{{trips.created_at}}');
                                        var formattedDate = date.toLocaleString();
                                        document.getElementById("formattedDate").textContent = formattedDate;
                                    </script>
                                </tr>
                                <tr>
                                    <td><b>Pick up location: </b> {{trips.pick_up_location}}</td>
                                    <td><b>Destination: </b> {{trips.location}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="chat-wrapper mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card mb-4">
                        <div class="card-header text-center">
                            <span>Trip Bid</span>
                        </div>
                        <div class="card-body chat-care">
                            <ul class="chat">

                            </ul>
                        </div>
                        <div class="card-footer">

                            {% if (trips.fare ==None) %}
                            <form action="/bid-submit/{{trips.id}}" method="post" onsubmit="disableSubmit()">
                                <div class="input-group">
                                    <input id="btn-input" name="amount" type="number" class="form-control input-sm"
                                        placeholder="Type your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" id="btn-chat">
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>














<script>
    const socket = io(`ws://{{base_url}}:8000/`, { transports: ["websocket"] });
    socket.on("BidList{{trips.id}}", function (data) {
        console.log(data);
        var chatList = $('.chat');
        chatList.empty();
        BidGet();
    });
    socket.on("TripAccept{{trips.id}}", function (data) {
        console.log(data);
        location.reload();
    });
    BidGet();
    function displayBidInfo(bid, user) {
        var chatList = $('.chat');

        var agentLi;
        var imgSpan;
        if (bid.driver_id == user.id) {
            agentLi = $('<li>').addClass('agent clearfix').addClass('user-' + user.id);
            var imgSpan = $('<span>').addClass('chat-img left clearfix mx-2');
        } else {
            agentLi = $('<li>').addClass('admin clearfix').addClass('admin-' + user.id);
            var imgSpan = $('<span>').addClass('chat-img right clearfix mx-2');

        }


        imgSpan.html('<img src="../../assets/upload/profile/' + bid.driver.image + '" alt="Agent" class="img-circle" />');

        var bodyDiv = $('<div>').addClass('chat-body clearfix');

        var headerDiv = $('<div>').addClass('header clearfix');
        var strongName = $('<strong>').addClass('primary-font').text(bid.driver.name);
        var date = new Date(bid.created_at);
        var formattedDate = timeAgo(date);
        var smallTime
        if (bid.driver_id == user.id) {
            var smallTime = $('<small>').addClass('right text-muted').html('<span class="glyphicon glyphicon-time"></span>' + formattedDate);
        } else {
            var smallTime = $('<small>').addClass('left text-muted').html('<span class="glyphicon glyphicon-time"></span>' + formattedDate);
        }

        var pElement = $('<p>').text('Amount: ' + bid.amount);

        headerDiv.append(strongName);
        headerDiv.append(smallTime);

        bodyDiv.append(headerDiv);
        bodyDiv.append(pElement);

        agentLi.append(imgSpan);
        agentLi.append(bodyDiv);

        chatList.append(agentLi);
    }
    function BidGet() {
        $.ajax({
            url: '/bid/get/{{trips.id}}',
            method: 'GET',
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.bids.length; i++) {
                    displayBidInfo(data.bids[i], data.user);
                }
            }
        });
    }
    function timeAgo(date) {
        var now = new Date();
        var diff = Math.abs(now - date);
        var minutes = Math.floor((diff / 1000) / 60);

        if (minutes < 60) {
            return minutes + ' minute' + (minutes !== 1 ? 's' : '') + ' ago';
        } else {
            var hours = Math.floor(minutes / 60);
            return hours + ' hour' + (hours !== 1 ? 's' : '') + ' ago';
        }
    }
    function disableSubmit() {
        document.getElementById("btn-chat").disabled = true;
    }
</script>


{% include 'layouts/footer.html' %}