<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Trip List || Garibook.com</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- bootstrap   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <header class="header-wrapper">
        <div class="container">
            <div class="col-md-12">
                <nav class="navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand w-100 text-center m-0" href="/">
                            <img src="https://garibook.com/dashboard/new-ui/assets/image/icon/logo.png" alt="Logo"
                                width="200" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="main-wrapper mt-5">

        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar bg-body-tertiary">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#">
                                    Trip List
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="trip-list-wrapper mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Car Name</th>
                                    <th scope="col">Pickup location </th>
                                    <th scope="col">Destination</th>
                                    <th scope="col">Booking Time</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="TripListShow">
                                <!-- <tr>
                                    <th scope="row">23456</th>
                                    <td>Toyota Corolla X</td>
                                    <td><p class="text-success m-0">Mohammadpur (Dhaka) - Pirojpur (Barsal)</p></td>
                                    <td><p class="text-success m-0"><b>Pick Time: </b> 12:00 PM</p> </td>
                                    <td>
                                        <button type="button" class="btn btn-info text-white">Bid Now</button>
                                    </td>
                                </tr> -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer class="bottom-0 bg-primary w-100 py-4 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-content text-white">
                        <span>© Copyright @ 2023 garibook.com All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>






    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>
        const socket = io('ws://localhost:8000/', { transports: ["websocket"] });
        socket.on("tripList", function (data) {
            if (data.length === 0) {
                $('#TripListShow').html('<tr><td colspan="5">No trips found</td></tr>');
            } else {
                for (var i = 0; i < data.length; i++) {
                    var row = $('<tr>');
                    row.append('<th scope="row">' + data[i].id + '</th>');
                    row.append('<td>' + data[i].car_name + '</td>');
                    row.append('<td><p class="text-success m-0">' + data[i].pick_up_location + '</p></td>');
                    row.append('<td><p class="text-success m-0"><b>Pick Time: </b>' + data[i].location + '</p></td>');
                    row.append('<td><p class="text-success m-0"><b>Pick Time: </b>' + data[i].created_at + '</p></td>');
                    row.append('<td><button type="button" class="btn btn-info text-white">Bid Now</button></td>');
                    $('#TripListShow').append(row);
                }
            }
        });



    </script>
</body>

</html>