{% include 'layouts/header.html' %}

<div class="main-wrapper">
	<!-- Banner -->
	<section class="banner-section banner-slider">
		<div class="container">
			<div class="home-banner">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<p class="explore-text"> <span><i class="fa-solid fa-thumbs-up me-2"></i></span>100% Trusted car
							rental platform in the Bangladesh</p>
						<h1>Ride Your <br>
							<span><b class="text-primary"> Dream Car</b> Today </span>
						</h1>
						<p class="mb-3">
							Garibook provides various kinds of vehicle from economy, Comfort to Luxury class. For
							Booking any class and model vehicle online simply enter your pickup and drop locations then
							select car type.
						</p>
						<div class="view-all ">
							<a href="#" class="btn-theme-primary text-decoration-none d-inline-block">
								View all Cars
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner-imgs">
							<img src="https://i.postimg.cc/C1zXbbRx/image.png" class="img-fluid aos" alt="bannerimage">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Banner -->

	<!-- services -->
	<section class="section services section-padding">
		<div class="container">
			<div class="section-content">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-12">
						<div class="ht-box-icon hover-animation-wrap">
							<div class="icon-box-wrap mb-3">
								<div class="icon">
									<img src="https://garibook.com/dashboard/new-ui/assets/image/icon/secvice_box_2.png"
										alt="">
								</div>
								<div class="content">
									<h6 class="sub-heading text-white">01</h6>
									<h5 class="heading text-white">Country Wise Network</h5>
									<p class="text text-white mb-0	">City based vendor, easy customer solution.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-12">
						<div class="ht-box-icon hover-animation-wrap">
							<div class="icon-box-wrap mb-3">
								<div class="icon">
									<img src="https://garibook.com/dashboard/new-ui/assets\image\icon\secvice_box_3.png"
										alt="">
								</div>
								<div class="content">
									<h6 class="sub-heading text-white">02</h6>
									<h5 class="heading text-white">Worldwide Coverage</h5>
									<p class="text text-white mb-0	">10 Countries • 30 Cities 20 Airports</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-12">
						<div class="ht-box-icon hover-animation-wrap">
							<div class="icon-box-wrap mb-3">
								<div class="icon">
									<img src="https://garibook.com/dashboard/new-ui/assets/image/icon/service_box_4.png"
										alt="">
								</div>
								<div class="content">
									<h6 class="sub-heading text-white">03</h6>
									<h5 class="heading text-white">Safety & Security</h5>
									<p class="text text-white mb-0	">Quality, safe & licensed vehicles professional
										drivers.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-12">
						<div class="ht-box-icon hover-animation-wrap">
							<div class="icon-box-wrap mb-3">
								<div class="icon">
									<img src="https://garibook.com/dashboard/new-ui/assets/image/icon/service_box_5.png"
										alt="">
								</div>
								<div class="content">
									<h6 class="sub-heading text-white">04</h6>
									<h5 class="heading text-white">Easy Payment</h5>
									<p class="text text-white mb-0	">No hidden costs pay via trusted partners. Easy
										cancellation policy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /services -->


	<!-- live car request -->
	<section class="section live-card-request section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center">
						<h2>Live Car Request</h2>
						<!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum possimus fugiat saepe ab ex
							repellendus incidunt vero est sunt architecto?</p> -->
					</div>
				</div>
			</div>
			<div class="section-content section-inside-top-margin">
				<div class="row">
					<div class="col-xl-4 col-md-4 col-sm-6 col-12">
						<div class="single-card-request bg-white hover-animation-wrap">
							<div class="scr-wrap">
								<div class="scr-image position-relative">
									<img src="{{ url_for('assets', path='image/cars/card-1.jpg') }}" alt=""
										class="car-image">
									<div class="scr-customer-image">
										<img class="scr-c-image"
											src="{{ url_for('assets', path='image/customer_image/avatar-02.jpg') }}"
											alt="">
									</div>
									<div class="scr-car-label">
										<span>Sadan</span>
									</div>
								</div>
								<div class="scr-text mt-4">
									<div class="scr-header py-2">
										<h2>Toyota Camry SE 350</h2>
										<div class="rating d-flex align-items-center gap-2">
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star-half-stroke"></i>
											<i class="fa-regular fa-star"></i>
											<span>(5.0)</span>
										</div>
									</div>
									<div class="scr-body">
										<ul class="list-unstyled d-flex justify-content-between p-0 m-0">
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-01.svg') }}"
														alt="Auto"></span>
												<p>Auto</p>
											</li>
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-03.svg') }}"
														alt="10 KM"></span>
												<p>petrol</p>
											</li>
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-06.svg') }}"
														alt="Petrol"></span>
												<p>5 person</p>
											</li>
										</ul>
										<div
											class="scr-locaiton d-flex align-items-center justify-content-between mb-3">
											<p class="mb-0">
												<i class="fa-solid fa-location-dot"></i>
												Dhaka
											</p>
											<i class="fa-solid fa-car-side"></i>
											<p class="mb-0">
												<i class="fa-solid fa-location-dot"></i>
												Khulna
											</p>
										</div>
										<button type="button" class="btn-theme-primary w-100">Request Trip</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-4 col-sm-6 col-12">
						<div class="single-card-request bg-white hover-animation-wrap">
							<div class="scr-wrap">
								<div class="scr-image position-relative">
									<img src="{{ url_for('assets', path='image/cars/card-1.jpg') }}" alt=""
										class="car-image">
									<div class="scr-customer-image">
										<img class="scr-c-image"
											src="{{ url_for('assets', path='image/customer_image/avatar-02.jpg') }}"
											alt="">
									</div>
									<div class="scr-car-label">
										<span>Sadan</span>
									</div>
								</div>
								<div class="scr-text mt-4">
									<div class="scr-header py-2">
										<h2>Toyota Camry SE 350</h2>
										<div class="rating d-flex align-items-center gap-2">
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star-half-stroke"></i>
											<i class="fa-regular fa-star"></i>
											<span>(5.0)</span>
										</div>
									</div>
									<div class="scr-body">
										<ul class="list-unstyled d-flex justify-content-between p-0 m-0">
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-01.svg') }}"
														alt="Auto"></span>
												<p>Auto</p>
											</li>
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-03.svg') }}"
														alt="10 KM"></span>
												<p>petrol</p>
											</li>
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-06.svg') }}"
														alt="Petrol"></span>
												<p>5 person</p>
											</li>
										</ul>
										<div
											class="scr-locaiton d-flex align-items-center justify-content-between mb-3">
											<p class="mb-0">
												<i class="fa-solid fa-location-dot"></i>
												Dhaka
											</p>
											<i class="fa-solid fa-car-side"></i>
											<p class="mb-0">
												<i class="fa-solid fa-location-dot"></i>
												Khulna
											</p>
										</div>
										<button type="button" class="btn-theme-primary w-100">Request Trip</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-md-4 col-sm-6 col-12">
						<div class="single-card-request bg-white hover-animation-wrap">
							<div class="scr-wrap">
								<div class="scr-image position-relative">
									<img src="{{ url_for('assets', path='image/cars/card-1.jpg') }}" alt=""
										class="car-image">
									<div class="scr-customer-image">
										<img class="scr-c-image"
											src="{{ url_for('assets', path='image/customer_image/avatar-02.jpg') }}"
											alt="">
									</div>
									<div class="scr-car-label">
										<span>Sadan</span>
									</div>
								</div>
								<div class="scr-text mt-4">
									<div class="scr-header py-2">
										<h2>Toyota Camry SE 350</h2>
										<div class="rating d-flex align-items-center gap-2">
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star"></i>
											<i class="fa-solid fa-star-half-stroke"></i>
											<i class="fa-regular fa-star"></i>
											<span>(5.0)</span>
										</div>
									</div>
									<div class="scr-body">
										<ul class="list-unstyled d-flex justify-content-between p-0 m-0">
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-01.svg') }}"
														alt="Auto"></span>
												<p>Auto</p>
											</li>
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-03.svg') }}"
														alt="10 KM"></span>
												<p>petrol</p>
											</li>
											<li>
												<span><img
														src="{{ url_for('assets', path='image/icons/car-parts-06.svg') }}"
														alt="Petrol"></span>
												<p>5 person</p>
											</li>
										</ul>
										<div
											class="scr-locaiton d-flex align-items-center justify-content-between mb-3">
											<p class="mb-0">
												<i class="fa-solid fa-location-dot"></i>
												Dhaka
											</p>
											<i class="fa-solid fa-car-side"></i>
											<p class="mb-0">
												<i class="fa-solid fa-location-dot"></i>
												Khulna
											</p>
										</div>
										<button type="button" class="btn-theme-primary w-100">Request Trip</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /live car request END -->

	<!-- live car request -->
	<section class="section download-app-section section-padding">
		<div class="container">
			<div class="section-content">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="userapp-heading">
							<div class="section-header text-left">
								<h2>Download the Garibook App</h2>
								<p>Garibook offers exclusive airport pickup and drop-off service for all local and international passengers. Garibook offers Single trip, Round trip, and Multicity car services. Garibook also offers car rental services for individuals and corporates. Garibook has services in the United Kingdom, United Arab Emirates, Malaysia, and Thailand.</p>
							</div>
							<div
								class="download-btn d-flex gap-2 flex-wrap justify-content-center justify-content-md-start">
								<div class="app-avilable">
									<a href="https://play.google.com/store/apps/details?id=com.garibook.user&pli=1">
										<img src="https://garibook.com/dashboard/new-ui/assets/image/icon/google_play.png"
											width="150" alt="PlayStore">
									</a>
								</div>
								<div class="app-avilable">
									<a href="https://apps.apple.com/us/app/garibook/id6444159035?platform=iphone">
										<img src="https://garibook.com/dashboard/new-ui/assets/image/icon/app_store_ios.png"
											width="150" alt="AppStore">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="car-holder">
							<img class="app-car img-fluid" src="{{ url_for('assets', path='image/cars/app-car.png') }}"
								alt="App Available">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /live car request END -->

	<!-- Contact us -->
	<section class="contact-section section-padding">
		<div class="container">
			<div class="form-info-area">
				<div class="row">
					<div class="col-lg-6">
						<img src="{{ url_for('assets', path='image/contact-info.jpg') }}" class="img-fluid"
							alt="Contact">
					</div>
					<div class="col-lg-6">
						<form action="#">
							<div class="row">
								<div class="section-header">
									<h2>Get in touch!</h2>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Name <span class="text-danger">*</span></label>
										<input type="text" class="form-control" placeholder="">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Email Address <span class="text-danger">*</span></label>
										<input type="text" class="form-control" placeholder="">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Phone number <span class="text-danger">*</span></label>
										<input type="text" class="form-control" placeholder="">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>Comments <span class="text-danger">*</span></label>
										<textarea class="form-control" rows="4" cols="50" placeholder="">
												</textarea>
									</div>
								</div>
							</div>
							<button class="btn-theme-primary w-100 mt-3">Send Enquiry</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Contact us -->








</div>



{% include 'layouts/footer.html' %}
