{% include 'layouts/header.html' %}

<div class="main-wrapper">
    <br>
    <div class="bkash-payment-status-wrapper pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if success == "failed" %}
                    <div class="payment-status-wrap text-center">
                        <i class="fa-solid fa-triangle-exclamation fs-1 text-danger"></i>
                        <h1 class="text-danger">{{massage}}</h1>
                        <p>Unfortunately, your bKash payment has failed for the user transaction reference.</p>
                        <p>Please check your bKash account and try again. If the issue persists, contact customer support.</p>
                        <p>If you are not redirected automatically, <a href="/">[click here]</a> to return to the home page.</p>
                    </div>
                    {% elif success == "success" %}
                    <div class="payment-status-wrap text-center">
                        <i class="fa-solid fa-circle-check fs-1 text-success"></i>
                        <h1 class="text-success">{{massage}}</h1>
                        <p>Thank you for choosing bKash for your online payment. Your transaction has been successfully processed.</p>
                        <p>If you are not redirected automatically, <a href="/">[click here]</a> to return to the home page.</p>
                    </div>
                    {% elif success == "cancel" %}
                    <div class="payment-status-wrap text-center">
                        <i class="fa-solid fa-triangle-exclamation fs-1 text-danger"></i>
                        <h1 class="text-danger">{{massage}}</h1>
                        <p>Unfortunately, your bKash payment has cancel for the user transaction reference.</p>
                        <p>Please check your bKash account and try again. If the issue persists, contact customer support.</p>
                        <p>If you are not redirected automatically, <a href="/">[click here]</a> to return to the home page.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'layouts/footer.html' %}